* {
  margin: 0px;
  padding: 0px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #271818;
}

.logo {
  /* margin-right: 10rem; */
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav h1 {
  color: white;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4f3333;
  color: rgb(227, 211, 211);
  padding: 2rem;
  border-radius: 1rem;
  min-height: 30vh;
  width: 270px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  background-color: #fff6b8;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 200px;
  border: none;
  outline: none;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 1rem;
  margin: 3px;
  padding-left: 0.5rem;
}

.countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.countries i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-country img {
  max-width: 2rem;
}

.select-country {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
}

.select-country select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 5px;
  width: 150px;
  padding: 0.5rem;
  color: #feffdfde;
  border-radius: 0.5rem;
  background-color: #351313;
}

form button {
  height: 2rem;
  background-color: #351313;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  border-radius: 5px;
}

.countries i {
  font-size: 1rem;
  margin-top: 1.2rem;
  margin: 0 1rem;
}
